{% extends "package_documentation.tera" %}

{% block header %}
## Presentation
This package implements elements based on [Simple Icons](https://github.com/simple-icons/simple-icons).
{% endblock header %}