{% extends "package_documentation.tera" %}

{% block header %}
## Presentation
This package implements elements based on [codeclou/enterprise-integration-pattern-shapes-for-gliffy](https://github.com/codeclou/enterprise-integration-pattern-shapes-for-gliffy).
{% endblock header %}