{% extends "package_bootstrap.tera" %}
{% block content %}
{% include "c4model/base_constants.tera" %}
{% include "c4model/base_procedures.tera" %}
{% include "c4model/base_styles.tera" %}
{% endblock content %}