{% extends "package_documentation.tera" %}

{% block header %}
## Presentation
This package implements `elements` and `boundaries` coming from the [C4 Model](https://c4model.com).
{% endblock header %}
