{% extends "package_documentation.tera" %}

{% block header %}
## Presentation
This package implements `elements` and `boundaries` coming from the [C4 Model](https://c4model.com) but with the [Nord Theme](https://www.nordtheme.com) flavor.
{% endblock header %}
